body{

font-family:Arial, sans-serif;

background:#f4f6f8;

}


.container{

max-width:500px;

margin:40px auto;

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 0 10px #ccc;

}


input,select,textarea{

width:100%;

padding:12px;

margin:8px 0;

}


button{

background:#0066cc;

color:white;

padding:12px;

border:0;

border-radius:5px;

cursor:pointer;

width:100%;

}


button:hover{

background:#004999;

}


li{

margin:10px;

}
